body {
  padding: 32px;
}

.graph {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 -0.75rem 4rem -0.75rem;
}
.graph::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0.75rem;
  right: 0.75rem;
  height: 3px;
  background: black;
  border-radius: 3px 3px 0px 0px;
}

.peg {
  position: relative;
  padding-top: 8px;
  width: 1.5rem;
  text-align: center;
}
.peg::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 3px;
  height: 8px;
  background: black;
  border-radius: 1000px;
}
.peg:first-child {
  transform: translateX(1.5px);
}
.peg:last-child {
  transform: translateX(-1.5px);
}